.Keypad{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fwhite-background&psig=AOvVaw3akQsulSN8D_0gE70WrKYI&ust=1634704958988000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNCi5ufp1fMCFQAAAAAdAAAAABAD");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  

}